<div class="row message mb-3">
  <div class="col-2 font-monospace text-secondary">
    @<%= message.user.nickname %>
  </div>

  <div class="col-10 d-flex justify-content-between">
    <div class="ps-3">
      <%= message.body %>
    </div>

    <div class="badge bg-secondary m-1">
      <%= message.created_at.strftime("%H:%M") %>
    </div>
  </div>
</div>
